h1 { color : gray;}
marquee{ color:green;}
body{ background-color: orange;}
a{
display: block;
width: 700px;
height: 75px;
font-size : 100px;
background-color: #44444c;
color: lightblue;
border: 0;
box-shadow: 4px 4px lightgrey;
border-radius: 10px;

text-align: center;
padding-top: 5px;
}
